<div class="card highlight-card card-small">
  <mat-icon fontIcon="help-circle" id="help" class="md-icon-72" viewBox="0 0 101.678 101.678">
    <title>что можно сделать</title>
  </mat-icon>
  <span> что можно сделать</span>
</div>

<div class="card-container">
  <div class="bold" routerLinkActive="active" *ngFor="let link of links">
    <a class="card" [routerLink]="link.url">
      <span>{{ link.name }}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>
  </div>
</div>
